h1 {
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
}

.navbar {
  padding: 20px;
  margin-bottom: 20px;
  background: #008cba;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar,
.create {
  color: white;
  font-size: 1.5rem;
}
.navbar .navbar-brand {
  color: white;
  font-size: 2rem;
}

.navbar-brand:hover,
.create:hover {
  color: white;
}

.form-container {
  width: 400px;
  margin: 20px auto;
}

.note-container {
  text-align: center;
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
